# Hello

In [2]:
name = 'Gayatri Gaikwad'
course = 'Code Unnati Program 2.0'
print(f"Hellow, My name is {name} and I registred for { course}")

Hellow, My name is Gayatri Gaikwad and I registred for Code Unnati Program 2.0

In [4]:
String = "{} {}{}".format ('python', 'programming ',' language')
String

'python programming  language'

In [6]:
str1 = "FACE"
str1[-1]

'E'

In [7]:
str1 = "FACE"
str1[1:3]

'AC'

In [11]:
str1 = "FACE"
str1[0:3:2]

'FC'

In [12]:
str1[::-1]

'ECAF'

In [14]:
list1 = ["parul", 22, " Bharat", 23 , " yash"]
print(list1)
print(type(list1))

['parul', 22, ' Bharat', 23, ' yash']
<class 'list'>

In [15]:
print(list1[0])

parul

In [16]:
print(list1[-2])

23

In [19]:
fruits = ['a', ' b', 'd']
fruits.append('w')
print(fruits)

['a', ' b', 'd', 'w']

In [22]:
fruits.pop()
print(fruits)

['a', ' b', 'd']

In [23]:
fruits.remove("a")
print(fruits)

[' b', 'd']

In [28]:
fruits = ['a', ' b', 'd']
alphabet = ['m', 'n', 'q']
fruits.extend(alphabet)
print(fruits)

['a', ' b', 'd', 'm', 'n', 'q']

In [34]:
fruits = ['a', ' b', 'd']
fruits.insert(1,"w")
#insert orange at index 1
print(fruits)

['a', 'w', ' b', 'd']

In [36]:
cars = ["FORT", "BMW", "VOLVO"]
cars.sort()
print(cars)

['BMW', 'FORT', 'VOLVO']

In [2]:
text=input(" Enter the word: ")
text.spilt()

 Enter the word: I love myself

AttributeError: 'str' object has no attribute 'spilt'

In [7]:
tup1 = ("parul", 22, " bharat", 45.5, "Vadodara", 99)
print(tup1)
print(type(tup1))
print(tup1[2:4])

('parul', 22, ' bharat', 45.5, 'Vadodara', 99)
<class 'tuple'>
(' bharat', 45.5)

TypeError: 'tuple' object doesn't support item deletion

In [6]:
del tup1[3]

TypeError: 'tuple' object doesn't support item deletion

In [8]:
numbers = (1, 3, 7, 8, 5, 4, 6, 8, 5)
x = numbers.count(5)
print(x)

2

In [23]:
cars = { "brand" : "Mahindra", "Model" : "Thar", " Year": 2010 }
print(type(cars))
#print(cars["Model"])
print(cars.keys())
print(cars.values())
print(cars.items())
cars["color"] = "black"
print(cars)
cars.pop("Model")
print(cars)

<class 'dict'>
dict_keys(['brand', 'Model', ' Year'])
dict_values(['Mahindra', 'Thar', 2010])
dict_items([('brand', 'Mahindra'), ('Model', 'Thar'), (' Year', 2010)])
{'brand': 'Mahindra', 'Model': 'Thar', ' Year': 2010, 'color': 'black'}
{'brand': 'Mahindra', ' Year': 2010, 'color': 'black'}

In [27]:
subjects  = {"Physics", " Hindi", " Math"}
print(subjects)
print(type(subjects))

{'Physics', ' Hindi'}
<class 'set'>

In [29]:
subject2 = {"Chemistry", "Math"}
print(subject2)
print(type(subject2))

{'Math', 'Chemistry'}
<class 'set'>

In [34]:
subjects.intersection(subject2)

set()

subjects.union(subject2)

In [35]:
subjects.union(subject2)

{' Hindi', 'Chemistry', 'Math', 'Physics'}

In [ ]:
# SAP Session - 2